<!DOCTYPE html>
<html>
<head>
    <title>raceGradeData</title>
    <link rel="stylesheet" href="style.css">
    <style>
		.container {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			height: 100vh;
		}

		.left-column {
			flex: 1;
			background-color: white;
			padding: 20px;
		}

		.right-column {
			flex: 1;
			background-color: white;
			padding: 10px;
		}

		iframe {
			width: 100%;
			height: 100%;
			border: none;
		}


    </style>
</head>
<body>
<div class="container">
    <div class="left-column">
        <!-- Your content for the left-hand side goes here -->
        <h1><span style="color: #c8dcc8;">Squeeze every drop of insight out of your vehicle originated data.</span></h1>
        <h3><span style="color: #c800c8;">raceGradeData.</span></h3>
        <br>
        <h2><a href="pyVeRefine.html" style="color: #c800c8;">pyVeRefine.</a></h2>
        <p>A public utility to ingest, characterize, and filter large datasets for the refinement of Volumetric
            Efficiency tables.</p>
        <br>
    </div>
    <div class="right-column">
        <iframe src="" title=""></iframe>
    </div>
</div>
<footer class="footer">&copy; 2023 raceGradeData</footer>
</body>
</html>
